extends _template


block main
    include parts/_jumbotron
    include parts/_headers
    include parts/_markup
    include parts/_lists
    include parts/_buttons
    include parts/_helpers
    include parts/_table
    include parts/_form
    include parts/_thumbnail
    include parts/_labels
    include parts/_badge
    include parts/_navigation
    include parts/_navbar
    include parts/_alerts
    include parts/_progressbar
    include parts/_list_groups
    include parts/_panel
    include parts/_wells
    include parts/_media_objects
    include parts/_embedded_media
    include parts/_carousel



