section
    .container
        .page-header
            h1 サムネイル
        .row
            for type in ['img-thumbnail', 'img-circle', 'img-rounded']
                .col-sm-4
                    .thumbnail(href='#')
                        img(class='#{type}' src='../assets/img/thumbnail.jpg')
                        .caption
                            h3.thumbnail-label=type
                            p これはサムネイルのキャプションです。
